beautifulsoup4==4.13.4
docx==0.2.4
fpdf2==2.8.3
html2text==2025.4.15
ics==0.7.2
imap_tools==1.10.0
openai==1.99.6
Pillow==11.3.0
python_docx==1.2.0
Requests==2.32.4
streamlit==1.45.1
supabase==2.18.0
yfinance==0.2.63
